﻿
.quest:nth-child(odd){
    background-color:aliceblue;
}
.quest:nth-child(add){
    background-color:aqua;
}

td a:hover{
    text-decoration:none;
}
.input-group {
    width: 100%;
}
#formNewTest {
    margin-bottom: 50px;
}
#formNewTest>.input-group {
    width: 100%;
}
#formNewTest button[type="submit"] {
    height: 100%;
}

#formEditTest {
    margin-bottom: 10px;
}
#formEditTest>.input-group {
    width: 100%;
}
#formEditTest button[type="submit"] {
    height: 100%;
}
.home {
    margin-bottom: 30px;
    margin-top: 5px;
}

#formAddQuestion {
     margin-bottom: 50px;
}
