﻿@section scripts
{
    <script src="~/Scripts/pages/AddTest.js"></script>
}
 
@model Test.WebUI.Models.Test


@{
    ViewBag.Title = "Edit";
    string errMes = ViewBag.Error;
    Test.WebUI.Models.Test test = ViewBag.Result;
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="container">
    <a href="/Test/Index"><button id="editTest" type="button" class="btn btn-warning btn-lg btn-block home">Home</button></a>
    <form id="formEditTest" method="POST" action="../Test/EditValue">
        <div class="input-group">
            <div class="input-group">
                <div class="input-group-addon">Name for test</div>
                <input type="text" class="form-control" id="newTest" name="name" value="@test.Name" />
            </div>
            <div class="input-group">
                <div class="input-group-addon">Description for test</div>
                <input type="text" class="form-control" id="description" name="description" value="@test.Description"/>
                <input type="hidden" class="form-control" name="id" value="@test.Id" />
            </div>
            <div class="input-group-btn">
                <button type="submit" id="addTest" class="btn btn-success">Save changes</button>
            </div>
        </div>
        <lable class="errorMessage">@errMes</lable>
    </form>

    <form id="formAddQuestion" method="POST" action="../TestItem/AddQuestion">
        <div class="input-group">
            <div class="input-group">
                <div class="input-group-addon">New Question</div>
                <input type="text" class="form-control" id="newQuestion" name="question"/>
                <input type="hidden" class="form-control" name="idTest" value="@test.Id" />
            </div>
            <div class="input-group-btn">
                <button type="submit" id="addQuestion" class="btn btn-success">Add Question</button>
            </div>
        </div>
        <lable class="errorMessage">@errMes</lable>
    </form>


    <table class="table table-bordered  table-condensed table-striped">
        <thead>
            <tr>
                <th class="col-md-6 col-xs-6">Question</th>
                <th class="col-md-6 col-xs-6" colspan="3">Options</th>
            </tr>
        </thead>
        <tbody>
            <div id="testPartial">
                    @Html.Partial("~/Views/TestItem/QuestionsPartialView.cshtml", test.TestItems)
                </div>
        </tbody>
    </table>

</div>