﻿@model IList<Test.Entities.TestItemEntity>   

@foreach (var i in Model)
{
    @*<div class="quest col-md-12 center-block">
        <div class="question lead" data-id="@i.Id">
            @i.Question
        </div>
        <div class="answers">
            @foreach (var ans in i.Answers)
            {
                <div class="answer">
                    @ans;
                    <input type="radio" name="answer" />
                </div>
            }
        </div>
    </div>    *@

    <tr>
        <td>@i.Question</td>
        <td>
            <a href="/Test/Edit?id=@i.Id"><button id="editTest" type="button" class="btn btn-warning btn-lg btn-block">Edit</button></a>
        </td>
        <td>
            <form method="post" action="../TestItem/Delete">
                <input type="hidden" value="@i.Id" name="id" />
                <input id="deleteTest" type="submit" class="btn btn-danger btn-lg btn-block" value="delete" />
            </form>
        </td>
        
    </tr>

}
