﻿@section scripts
{
    <script src="~/Scripts/pages/AddTest.js"></script>
}
@model IList<Test.Entities.TestEntity>

@{
    ViewBag.Title = "Index";
    string errMes = ViewBag.Error;
    List<Test.Entities.TestEntity> tests = ViewBag.Result;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <form id="formNewTest" method="post">
        <div class="input-group">
            <div class="input-group">
                <div class="input-group-addon">Name for test</div>
                <input type="text" class="form-control" id="newTest" name="nameTest" />
            </div>
            <div class="input-group">
                <div class="input-group-addon">Description for test</div>
                <input type="text" class="form-control" id="description" name="description" />
            </div>
            <div class="input-group-btn">
                <button type="submit" id="addTest" class="btn btn-success">Add new test</button>
            </div>
        </div>
        <lable class="errorMessage">@errMes</lable>
    </form>


    <table class="table table-bordered  table-condensed table-striped">
        <thead>
            <tr>
                <th class="col-md-1 col-xs-1">id</th>
                <th class="col-md-8 col-xs-7">Name</th>
                <th class="col-md-3 col-xs-4" colspan="3">Options</th>
            </tr>
        </thead>
        <tbody>
            <div id="testPartial">
                @Html.Partial("~/Views/Test/TestPartialView.cshtml", tests)
            </div>
        </tbody>
    </table>

</div>
