﻿@model Test.Repositories.@string
@{
    Test.Repositories.@string @string = ViewBag.Result;
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/Layout.cshtml";
    string errMes = ViewBag.Error;
}
@section scripts
{
    <script src="~/Scripts/pages/ShowPage.js"></script>
}
<div class="container">
    <h1>@@string.Name</h1>
    @*<form method="post" id="formNewQuest">
        <input type="text" id="newTest" name="nameTest" placeholder="name for test" />
        <div id="answers">
            <input class="answer" name="answer[]" />
        </div>
        <button id="addAnswer">Add Answer</button>
        <input id="addTestButton" type="submit" value="add new Test" />
        <lable class="errorMessage">@errMes</lable>
    </form>*@

    <div id="testPartial">
        @Html.Partial("~/Views/Test/QuestionsPartialView.cshtml", @string)
    </div>
    <button type="submit">Відправити</button>

</div>
