﻿@model IList<Test.Entities.TestEntity>

@foreach (var i in Model)
{
    <tr>
        <td>@i.Id</td>
        <td>
            <div class="headTest">@i.Name</div>
            <div class="descriptionTest">@i.Description</div>
        </td>
        <td>
            <a href="/Test/Edit?id=@i.Id"><button id="editTest" type="button" class="btn btn-warning btn-lg btn-block">Edit</button></a>
        </td>
        <td>
            <form method="post" action="/Test/Delete">
                <input type="hidden" value="@i.Id" name="testid" />
                <input id="deleteTest" type="submit" class="btn btn-danger btn-lg btn-block" value="delete" />
            </form>
        </td>
        <td>
            <a href="/Test/Show?testid=@i.Id" class=""><button id="showTest" type="button" class="btn btn-success btn-lg btn-block">Show</button></a>
        </td>
    </tr>
}




