﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <link href="~/Style/bootstrap-3.3.2-dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Style/css/test.css" rel="stylesheet" />
        <script src="~/Scripts/libs/jquery/jquery-2.1.4.js"></script>
        @RenderSection("scripts", false) <!--false - не обьявозкова (може не бути)-->  
    </head>
    <body>
        <div>

            @RenderBody()
        </div>
    </body>
</html>
